body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAF9F0;
}

.Navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 1.5px solid gray;
  /* box-shadow: 5px 5px 25px #1DCED8; */
  height: 80px;
}

.Navbar--mainLogo {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: 5px;
}

.Navbar--userLogo {
  width: 50px;
  height: 50px;
  margin-left: auto;
  padding-right: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 15px;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  padding-bottom: 50px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: #1DCED8;
}

.Login--heading {
  margin-top: 55px;
  align-self: center;
}

.Login--username {
  padding: 5px;
  border-radius: 5px;
  border: none;
}


.Login--password {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.Login--buttons {
  display: flex;
  flex-direction: row;
  margin-top: -15px;
}

.Login--submit-button {
  margin-top: 30px;
  margin-right: 10px;
  padding: 5px 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6490D;
  border: none;
  border-radius: 5px;
  color: white;
}

.Register--user-button {
  margin-top: 30px;
  padding: 5px 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6490D;
  border: none;
  border-radius: 5px;
  color: white;
}

.Register--Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  padding-bottom: 50px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  text-align: center;
  background-color: #1DCED8;
}

.Form--username {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.Form--email {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.Form--password {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.Form--confirm-password {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.Form--submit-button {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 5px 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6490D;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 0;
}

.forgot-password {
  text-decoration: none;
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: -10px;
}

.HomePage {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
}

.PumpTable {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
}


.PumpTable--searchbar {
  margin-left: auto;
  margin-right: 35px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px 5px;
  border-radius: 10px;
  border: none;
  background-color: #F6490D;
}

tr {
  background-color: #1DCED8;
  width: 100%;
}

td {
  width: auto;
}
