html {
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
  height: auto;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
  height: 100%;
  margin: 0;
}

/* .Navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 1.5px solid gray;
  /* box-shadow: 5px 5px 25px #1DCED8; */
/* height: 80px; */

.navBar {
  /* border-bottom: 0.2px solid black; */
  background-color: white;
  /* box-shadow: 5px 5px 25px #1DCED8; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */

}

.Navbar--mainLogo {
  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: 5px;
}

.companyName {
  text-decoration: none;
  color: #01A54F;
  /* text-align: center; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -5px;
  margin-right: auto;
  font-weight: bold;
}

NavDropdown.Item {
  border-radius: 0px;
}

.dropdown-toggle::after {
  display: none;
}

#basic-nav-dropdown {
  border-radius: 0px;
}

#basic-nav-dropdown .dropdown-menu {
  border-radius: 0px;
}

.Navbar--user {
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: 15px;
  padding-right: -5px;
  padding-top: -5px;
  padding-bottom: 0;
  margin-bottom: -5px;
  margin-top: 5px;
  /* border: 0.2px solid #EEEEEE; */
  background-color: #01A54F;
  color: white;
}

.Login {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  /* box-sizing: border-box; */
  border: 0.5px solid black;
  width: 60%;
  /* height: 100%; */
  /* padding-bottom: 0; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 140px;
  margin-bottom: auto;
  background-color: white;
}

.Login--heading {
  /* margin-top: 55px; */
  align-self: center;
}

.Login--username {
  padding: 5px;
  /* border-radius: 5px; */
  outline: 0;
  border-color: #01A54F;
  border-width: 0 0 2px;
  align-self: center;
  margin-left: 30px;
}


.Login--password {
  padding: 5px;
  outline: 0;
  border-color: #01A54F;
  border-width: 0 0 2px;
  align-self: center;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.Login--buttons {
  /* display: flex;
  flex-direction: row; */
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
}

.Login--submit-button {
  margin-top: 30px;
  /* margin-right: auto; */
  /* margin-left: auto; */
  padding: 5px 25px;
  font-family: 'Roboto', sans-serif;
  background-color: #01A54F;
  border: none;
  border-radius: 5px;
  color: white;
  align-items: center;
}

.Register--user-button {
  margin-top: 30px;
  padding: 5px 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #F6490D;
  border: none;
  border-radius: 5px;
  color: white;
}

.Register--Page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid black;
  width: 60%;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 135px;
  background-color: white;
}

.Form--username {
  padding: 5px;
  outline: 0;
  border-color: #01A54F;
  border-width: 0 0 2px;
  align-self: center;
}

.Form--email {
  padding: 5px;
  outline: 0;
  border-color: #01A54F;
  border-width: 0 0 2px;
  align-self: center;
}

.Form--password {
  padding: 5px;
  outline: 0;
  border-color: #01A54F;
  border-width: 0 0 2px;
  align-self: center;
}

.Form--confirm-password {
  padding: 5px;
  outline: 0;
  border-color: #01A54F;
  border-width: 0 0 2px;
  align-self: center;
}

.Form--submit-button {
  margin-top: 25px;
  margin-left: 45px;
  margin-right: auto;
  align-self: end;
  padding: 5px 25px;
  font-family: 'Roboto', sans-serif;
  background-color: #01A54F;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 0;
}

.forgot-password {
  text-decoration: none;
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: start;
  text-align: justify;
  text-align-last: left;
  /* margin-right: 10px; */
  /* justify-content: left; */
  /* align-self: start; */
}

.HomePage {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  background-color: #EEEEEE;

}

.PumpTable {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  width: 100%;
  margin-left: 5px;
  /* border: 0.1px solid black; */
  background-color: white;
  margin-top: 5px;
  /* border-radius: 7px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* .PumpTable--table {
  width: 500px;
  height: 500px;
} */

.PumpTable--search {
  display: flex;
  flex-direction: row;
  padding: 3.2px 0;
  background-color: white;
  border-bottom: 2px solid #EEEEEE;
  /* background-color: #F5F5F5; */
}

.PumpTable--addPump {
  margin-left: auto;
  background-color: #01A54F;
  margin-right: 0;
  padding: 3px 5px;
  margin-bottom: 7px;
  margin-top: 7px;
  /* border: 0.8px solid #01A54F; */
  /* border-radius: 5px; */
  color: white;
  font-family: 'Roboto', sans-serif;
  border: 0.2px solid #01A54F;
}


.ag-theme-alpine {
  width: auto;
  height: 605px;
  /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  /* border-left: 0.2px solid black; */
  /* background-color: #B5FE83; */
  /* border-radius: 15px; */
  /* margin: 5px 0; */
  /* padding: 15px 15px; */
}

.Sidebar {
  width: 250px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  /* box-shadow: 10px 0px 2px black; */
  /* height: auto; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  /* border-right: 0.1px solid #888; */
  /* border-top: 0.1 solid white; */
  /* border: 0.1px solid black; */
  background-color: white;
  /* border-radius: 7px; */
  /* border-top: 1.5px solid black; */
}

.Sidebar--home {
  /* margin-top: 10px; */
  /* margin-left: auto; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 5px;
  /* border-radius: 10px;_ */
  /* border: 0.2px solid black; */
  padding: 10px 70px;
  font-family: 'Roboto', sans-serif;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  font-size: 15px;
  /* border-radius: 3px; */
  background-color: #01A54F;
  color: white;
  cursor: pointer;
  /* border-bottom: 0.2px solid black; */
}

.Sidebar--dashboard {
  background-color: #01A54F;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 70px;
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
}

/* .Sidebar--home:focus {
  background-color: #F6490D;
} */

.home-img {
  width: 20px;
  color: white;
  margin-right: 5px;
}

.viewBtn {
  width: 20px;
  border: none;
  cursor: pointer;
}

.onBtn {
  width: 18px;
}

.offBtn {
  width: 18px;
}


button {
  border: none;
  background-color: white;
  /* margin-right: 5px */
}

.userProfile {
  width: 30px;
  padding-right: 5px;
  margin: auto;
}

.buffer-data {
  background-color: #01A54F;
  display: flex;
  flex-direction: row;
}

.ProfilePage {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
}

.Profile {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 405px;
  background-color: white;
  padding-right: 10px;
  padding: 15px;
  /* border-radius: 5px; */
  border: 2px solid #EEEEEE;
}

.Profile--header {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: -10px;
}

.Profile--details {
  /* align-items: center; */
  text-align: left;
}

.Profile--hr {
  width: 102%;
}

.Table--username {
  padding-right: 150px;
}

.Table--email {
  padding-right: 150px;
}

.back-to-login {
  text-decoration: none;
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: 170px;
}